<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>事件规则权值编辑</title>

    <script src="js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="css/webuploader.css">
    <script src="js/webuploader.js"></script>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/footable.bootstrap.css">
    <script src="js/footable.js"></script>

    <style type="text/css">
        .eventruleinfo td{
            width: 50px;
        }

    </style>

</head>
<body>
    <div id="eventrulelist">
        <div v-for="(eventrule,index) in eventrules" style="padding: 0px">
            <table class="table" style="padding-bottom: 0px;margin-bottom: 0px">
                <thead v-bind:style="{display:calDisplay(index)}">
                <tr class="eventruleinfo">
                    <td>事件规则编号</td>
                    <td>事件编号</td>
                    <td>种类</td>
                </tr>
                </thead>
                <tbody>
                <tr class="eventruleinfo">
                    <td><i :id="getsignalvaluesmarkid(eventrule.id)" class="glyphicon glyphicon-triangle-right" v-on:click="showsv(eventrule.id)"></i>{{eventrule.id}}</td>
                    <td>{{eventrule.eventId}}</td>
                    <td>{{eventrule.type}}</td>
                </tr>
                </tbody>
            </table>

            <table :id="getsignalvaluesid(eventrule.id)" class="table" style="padding: 0px;display: none;text-align: center">
                <thead>
                <tr style="border-top:solid;border-top-width: 1px">
                    <td style="width: 50%">信号id</td>
                    <td>权值</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="signalvalue in eventrule.signalValues">
                    <td>{{signalvalue.signalId}}</td>
                    <td><input v-model="signalvalue.value" onchange='this.style="color:red"' v-on:change="setmarkcolor(eventrule.id)"/></td>
                </tr>
                </tbody>
            </table>

            <div :id="getbuttonid(eventrule.id)" style="display: none;text-align: center">
                <button v-on:click="uploaddata(eventrule)">保存</button>
                <button v-on:click="datareset(eventrule,eventrule.id)">重置</button>
            </div>
        </div>
    </div>
</body>
<script>
    var vue;
    $(document).ready(function(){
        vue = new Vue({
            el:'#eventrulelist',
            data:{
                eventrules:""
            },
            methods:{
                calDisplay:function(index){
                    if(index>0){
                        return "none";
                    }
                    return "";
                },
                getsignalvaluesid:function(index){
                    return "signalvalues_"+index;
                },
                getsignalvaluesmarkid:function(index){
                    return "signalvaluesmark_"+index;
                },
                getbuttonid:function(index){
                    return "button_"+index;
                },
                showsv:function(index){
                    //console.log(index);
                    var mark = $("#signalvaluesmark_"+index);
                    var table = $("#signalvalues_"+index);
                    var button = $("#button_"+index);
                    if(mark.attr("class")==("glyphicon glyphicon-triangle-right")){
                        mark.attr("class","glyphicon glyphicon-triangle-bottom");
                        table.attr("style","text-align: center");
                        button.attr("style","text-align: center");
                    }else{
                        mark.attr("class","glyphicon glyphicon-triangle-right");
                        table.attr("style","display:none");
                        button.attr("style","display:none;");
                    }
                },
                datareset:function(eventrule,id){
                    $.ajax({
                        url:"http://localhost:8080/data/fetch/eventrule/"+id,
                        method:"get",
                        async:true,
                        success:function(data){
                            eventrule.signalValues=data.signalValues;
                            $("#signalvalues_"+id+" input").attr("style","");
                            $("#signalvaluesmark_"+id).attr("style","");
                        }
                    });
                },
                uploaddata:function(eventrule){
                    var neweventrule={};
                    neweventrule.id=eventrule.id;
                    neweventrule.eventId=eventrule.eventId;
                    neweventrule.signalValues=[];
                    for(i in eventrule.signalValues){
                        var s={};
                        s.signalId=eventrule.signalValues[i].signalId;
                        s.value=parseFloat(eventrule.signalValues[i].value);
                        neweventrule.signalValues.push(s);
                    }
                    neweventrule.type=eventrule.type;
                    console.log(JSON.stringify(neweventrule));

                    $.ajax({
                        url:"/data/edit/eventrule",
                        contentType:"application/json;charset=utf-8",
                        method:"post",
                        data:JSON.stringify(neweventrule),
                        success:function (data) {
                            if(data==true){
                                vue.datareset(eventrule,eventrule.id);
                            }
                        }
                    });
                },
                setmarkcolor:function(id){
                    $("#signalvaluesmark_"+id).attr("style","color:red");
                }
            }
        });

        $.ajax({
            url:"/data/fetch/eventrules",
            method:"get",
            success:function(data){
                console.log(data);
                vue.eventrules=data;
            }
        });
    });
</script>
</html>